body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #e7e7e7;
  border-style: solid;
}

table td,
table th {
  border-width: 1px;
  border-color: #e7e7e7;
  border-style: solid;
  padding: 5px;
  text-align: start;
}

table thead {
  background-color: #e7e7e7;
}
