#root::-webkit-scrollbar-thumb {
  background-color: "#CECECE";
}

#root::-webkit-scrollbar {
  border-radius: 25px;
}

#spellsList::-webkit-scrollbar {
  width: 5px;
}

#root::-webkit-scrollbar-track {
  background-color: "transparent";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
